SECRET_KEY=""
# ENV_OPTION=["DEV", "UAT", "PROD"]
ENV=DEV
DEBUG=true
BASE_URL=""
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
MEDIA_ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://0.0.0.0:3000
MYSQL_DATABASE=b2b_charger
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=abcd@1234
DB_HOST=mysql
DB_PORT=3306
REDIS_LOCATION="redis://redis:6379"
